/* public/css/karyawan.css */

/* Style untuk container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: none;
    background-color: #ffffff;
}

.card-header {
    background-color: #007e8f;
    color: white;
    padding: 15px;
    font-size: 1.25rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-header h4 {
    margin: 0;
}

.table-container {
    overflow-x: auto;
    margin-top: 15px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table th,
.table td {
    padding: 12px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    white-space: nowrap;
}

.table th {
    background-color: #007e8f;
    color: white;
    font-weight: bold;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.table-hover tbody tr:hover {
    background-color: #f5f5f5;
}

/* Style tombol */
.btn {
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-primary {
    background-color: #08b8af;
    border: none;
    color: white;
}

.btn-primary:hover {
    background-color: #026640;
}

.btn-success {
    background-color: #27ae60;
    border: none;
    color: white;
}

.btn-success:hover {
    background-color: #229954;
}

.btn-danger {
    background-color: #e74c3c;
    border: none;
    color: white;
}

.btn-danger:hover {
    background-color: #c0392b;
}

/* Style untuk Data Keluarga */
.table-family {
    width: 100%;
    margin-top: 10px;
}

.table-family th,
.table-family td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.table-family th {
    background-color: #007e8f;
    color: whi  te;
}

.table-family td {
    background-color: #ecf0f1;
}

/* Responsive table */
@media (max-width: 768px) {
    .table-container {
        overflow-x: scroll;
    }

    .card-header h4 {
        font-size: 1.1rem;
    }

    .btn {
        padding: 6px 10px;
        font-size: 12px;
    }
}
